<p style="color: green"><%= notice %></p>

<h1>Produtos</h1>
<div id="products">
  <% @products.each do |product| %>
    <p>
      <%= link_to "Ver produto", product %>
    </p>
  <% end %>
</div>
<hr/>
<h2>Nova Categoria de Produto</h2>
<%= form_with(model: @product_category) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
<hr/>

<%= link_to 'Cadastrar produto', new_product_path %>
<%= link_to 'Voltar', root_path %>


