<h1> Adicionar novo produto </h1>

<%= form_with(model: @product) do |f| %>
   <%= f.label :name, 'Nome'%> 
   <%= f.text_field :name %> 
   <%= f.label :price, 'Preço'%> 
   <%= f.number_field :price, step: 0.01 %> 
   <%= f.label :product_category_id, 'Categoria'%> 
   <%= f.collection_select :product_category_id, @product_categories, :id, :name %> 
   <%= f.submit 'Salvar' %>
<% end %>
