<%= form_with(model: @product) do |f| %>
    <div>
      <%= f.label :name, 'Nome:' %>
      <%= f.text_field :name %>
    </div>
      <div>
      <%= f.label :price, 'Preço:' %>
      <%= f.number_field :price %>
    </div>
    <div>
      <%= f.label :product_category_id, 'Categoria:' %>
      <%= f.collection_select :product_category_id, @product_categories, :id, :name %>
    </div>
    <div>
      <br><%= f.submit 'Salvar' %>
    </div>
  
  <% end %>