<p style="color: green"><%= notice %></p>

<h1><%= @product.name %></h1>

<dl>
  <dt><%= Product.human_attribute_name(:name) %>:</dt>
  <dd><%= @product.name %></dd>
  <dt><%= Product.human_attribute_name(:price) %>:<dt>
  <dd><%= number_to_currency(@product.price, :unit => "R$ ", :separator => ",", :delimiter => ".") %></dd>
  <dt><%= Product.human_attribute_name(:product_category) %>:<dt>
  <dd><%= @product.product_category.name %></dd>
<dl>

<div>
  <%= link_to "Editar produto", edit_product_path(@product) %> |
  <%= link_to "Voltar", products_path %>
</div>
